<!DOCTYPE HTML>
<!--
	Caminar by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Upload your artwork</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        {% load static %}<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="#" style="color:#000000";>Upload your artwork</a></div>
			</header>

		<!-- Main -->
			<section id="main">
				<div class="inner">
					<div class="wrapper style1">
						<div class="content">

							<!-- Elements -->
                                <form class="contribute" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="content">
        <label>Name your artwork a title</label>
  <input type="text" class="style" name="title" placeholder="* title *" />
        <br>
        <label>Input your password to confirm</label>
<input type="text" class="style" name="password" placeholder="* password *" />
        <br>
    <label >Upload your artwork</label>
  <input type="file" id="id_file" class="style" name="artwork"/>
        <br><br><br>
        <label >Click Submit to finish</label>
  <input type="submit" >
</div>
</form>
							</div>

						</div>
					</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
						<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
				<div class="copyright">
					Modified and Edited by Phan Đa
				</div>
			</footer>

		<!-- Scripts -->
			{% load static %}<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			{% load static %}<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
			{% load static %}<script src="{% static 'assets/js/skel.min.js' %}"></script>
			{% load static %}<script src="{% static 'assets/js/util.js' %}"></script>
			{% load static %}<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>